@charset "utf-8";
body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	background-color: white;
	display: block;
	overflow: hidden;
}
.container {
	padding: 10px 20px;
	max-width: 787px;
	margin: auto;
}
.row {
	width: 100%;
	display: inline-block;
}
.left_col {
	width: 66%;
	display: inline-block;
    float: left;
}
.right_col{
	width: 34%;
	display: inline-block;
    float: left;
}
.col_50 {
	width: 50%;
	display: inline-block;
	float: left;
}
.ace {
    font-size: 20px;
    max-width: 450px;
    width: 100%;
    text-align: center;
    margin: auto;
    padding-top: 10px;
}
.ace_1{
	font-size: 17px;
}
.ace_2 {
	max-width: 630px;
	padding-top: 15px;
	padding-bottom: 10px;
}
.dateTimeSpan {
	font-size: 22px;
    max-width: 100%;
}
.tiLogo {
	max-width: 180px;
	margin: auto;
	margin-top: 5px;
}
.tiLogoAbsolute {
    max-width: 180px;
    margin-top: 5px;
    position: absolute;
    bottom: 0;
    right: 10px;
}
.tiLogoRelative {
	display: inline-block;
    float: right;
}
button.goBack {
    border-color: white;
    font-size: 14px;
    font-weight: 600;
    color: #0cc;
    /*position: absolute;
    bottom: 10px;
    left: 5px;*/
    cursor: pointer;
    display: inline-block;
    float: left;
    margin-top: 10px;
    background-color: white;
    border: 0;
}
.powered_by {
	display: inline-block;
    font-size: 11px;
    margin-top: 11px;
    margin-right: 3px;
    float: right;
    color: black;
}
.topLogo {
    margin-top: 1px;
    height: 2.2rem;
    max-width: 110px;
    width: auto;
    display: inline-block;
    float: right;
}
.biz_hilite {
	color: #0cc;
}
.bookCoach{
	background-color: #0cc;
	padding: 10px 30px;
	font-weight: 600;
	color: white;
	max-width: 140px;
	width: 100%;
	margin: auto;
	text-decoration: none;
	cursor: pointer;
	display: block;
    text-align: center;
}
.adjustCoach {
	margin-bottom: 40px;
    margin-top: 20px;
}
.bookCoach.disabled {
	opacity: 0.5;
}
#callMeAsap {
    margin-top: 15px;
    margin-bottom: 10px;
}
.chooseTime{
	background-color: white;
	color: #0cc;
	font-size: 13px;
    font-family: unset;
    margin-bottom: 20px;
}
.dateChooser {
	margin-top: 5px;
}
.dObj {
	width: 14.286%;
	display: inline-block;
	float: left;
	cursor: pointer;
}
.unselectableText {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */ 
}
.dateButton {
	opacity: 0.6;
	color: darkslategray;
    font-size: 20px;
    display: block;
    text-align: center;
    min-height: 65px;
    cursor: default;
}
.dateButton.selectable:hover, .dateButton.selectable.active {
	opacity: 1;
	color: #0cc;
    font-size: 24px;
    font-weight: 600;
    margin-top: -4px;
    cursor: pointer;
}
.hiddenDate {
	display: none;
}
.day_of_week {
    
}
.month_day {
	font-size: 22px;
    color: black;
}
.moveLeftButton, .moveRightButton {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: darkgray;
    cursor: pointer;
    display: block;
}
.moveLeftButton:hover, .moveRightButton:hover {
    color: #0cc;
    font-size: 34px;
    margin-top: -2px;
}
.chooseTimeDiv {
	display: block;
    margin: auto;
    width: 275px;
    /*margin-bottom: 10px;*/
}
.timeSpan {
	display: inline-block;
	font-size: 20px;
}
.timeSelector {
    border: 3px solid #0cc;
    width: 130px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    margin: 0px 5px;
}
.estInfo {
	text-align: center;
    display: block;
    font-size: 11px;
    font-weight: 600;
    display: block;
}

.timeSelector select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}
.timeSelector select:focus {
    outline: none;
}
.fieldItem {
	margin-bottom: 10px
}
.fieldSpan {
	width: 100%;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 2px;
}
.fieldText {
	padding: 5px 10px;
    font-size: 18px;
}
.formClass {
	max-width: 550px;
	margin: auto;
    margin-top: 0px;
}
.bookInterview {
	float: left;
    font-size: 18px;
    border: 0px;
    padding: 9px 30px;
}
.errorField {
	margin-bottom: 0px;
}
.thankYouMobile {
	padding: 4px 0px;
}
.crush {
	font-weight: 600;
	font-size: 19px;
	display: block;
	margin-bottom: 5px;
}
@media screen and (max-width: 650px) {
	.left_col {
		width: 50%;
	}
	.ace {
		font-size: 18px;
	}
	.right_col {
		width: 50%;
	}
}
@media screen and (max-width: 550px) {
	.left_col, .right_col {
		width: 100%;
	}
	.timeSelector {
		font-size: 18px;
	}
	.timeSpan{
		font-size: 16px;
	}
	.container {
		padding: 5px 5px;
	}
	.fieldItem {
		margin-bottom: 5px;
	}
	.ace {
	    font-size: 16px;
	    padding-top: 10px;
	}
	.ace_2 {
		padding-bottom: 0px;
	}
	#part_2 {
		padding: 0px 10px;
	}
	#part_3 {
		padding: 0px 10px;
	}
	#part_4 {
		padding: 0px 10px;
	}
	#part_5 {
		padding: 10px;
	}
	.dObj {
		width: 16%;
	}
	.dObj.moveLeft, .dObj.moveRight  {
		width: 10%;
	}
	.dateButton {
		font-size: 18px;
		min-height: 73px;
	}
	.dateButton:hover, .dateButton.selectable:hover, .dateButton.selectable.active {
		font-size: 20px;
	}
	.moveLeftButton, .moveRightButton {
		font-size: 24px;
		margin-top: 15px;
	}
	.moveLeftButton:hover, .moveRightButton:hover {
		font-size: 24px;
		margin-top: 13px;
	}
}
@media screen and (max-width: 425px) {
	.col_50 {
		width: 100%;
	}
}
@media screen and (max-width: 300px) {
	/* style for the 300x250 widget */
	.ace {
	    font-size: 18px;
		padding-top: 20px;
		width: initial;
		padding-left: 5px;
		padding-right: 5px;
	}
	.tiLink {
		margin-top: 15px;
	}
	.bookCoach {
	    padding: 10px 18px;
	}
	.tiLogo {
		margin-top: 25px;
	}
	.topLogo {
	    margin-top: 0px;
	    max-width: 100px;
	}
	/* part 2 */
	.ace_2 {
		font-size: 18px;
	    padding-top: 30px;
	}
	#callMeAsap {
		margin-top: 0px;
	}
	.tiLogo2 {
		margin-top: 15px;
	}
	.chooseTime {
	    margin-bottom: 5px;
	}
	/* part 3 */


	.dateTimeSpan {
		font-size: 16px;
		padding-top: 10px;
	}

	.chooseTimeDiv {
		width: 245px;
	}
	.timeSelector{
		font-size: 16px;
	}
	.estInfo {
		margin-bottom: 5px;
		margin-top: 10px;
	}
	.dateMobileWrapper {
		margin-bottom: 10px;
		margin-top: 10px;
	}
	/* part 4 */

	.formClass {
		margin-top: 10px;
	}
	.fieldSpan {
		width: 38px;
		margin-left: 5px;
	}
	.fieldText {
		font-size: 16px;
	}
	.bookInterview {
		padding: 8px 30px;
		width: auto;
		float: right;
		font-size: 15px;
		margin-top: 7px
	}
	.errorField {
		width: 140px;
		font-size: 12px;
		margin-top: 7px;
	}
	button.goBack {
		margin-top: 6px;
	}
	/* part 5 */

	.thankYouMobile {
		font-size: 22px;
	}
	.thankYouTI {
		width: 170px;
		margin: auto;
		padding-top: 100px;
	}
}