/* Important Style */
img{max-width: 100%!important;}
table{table-layout: fixed;}
.container.postContainer a{color:#3174ee!important}

h2.fancy:before{border-bottom-style:solid;border-bottom-color:#c5cfd6;border-bottom-width:1px;content:"";position:absolute;left:0;right:0;top:68px;margin:auto;width:100%;}
h2.fancy span.number{color:#333;width:48px;position:absolute;height:48px;text-align:left;border-radius:50%;background:#fff;border:1px solid #bac4da;margin:auto;left:0;right:0;top:0;font-size:24px;line-height:48px}
h2.fancy{margin-bottom:18px;margin-top:0px;padding-top:136px;text-align:left;position:relative; font-family:'brandon_grotesquebold';}

h3.fancy:before{border-bottom-style:solid;border-bottom-color:#c5cfd6;border-bottom-width:1px;content:"";position:absolute;left:0;right:0;top:68px;margin:auto;width:100%;}
h3.fancy span.number{color:#333;width:48px;position:absolute;height:48px;text-align:left;border-radius:50%;background:#fff;border:1px solid #bac4da;margin:auto;left:0;right:0;top:0;font-size:24px;line-height:48px}
h3.fancy{margin-bottom:18px;margin-top:0px;padding-top:136px;text-align:left;position:relative; font-family:'brandon_grotesquebold';}

.ordered-list-large{position:relative;padding-left:0;margin-bottom:0;list-style:none;counter-reset:item;margin-left:45px}
.ordered-list-large .ordered-list-large-item{display:table;counter-increment:item}
.ordered-list-large .ordered-list-large-item{margin-top:48px}
.ordered-list-large .ordered-list-large-item:before{counter-increment:li;content:counter(item);right:100%;margin-right:15px;position:absolute;border-radius:50%;height:32px;width:32px;background-color:#3174ee;text-align:center;color:#fff;margin-top:3px;font-size:16px;line-height:32px;font-weight:700}

.large-bullets, .small-bullets {list-style: none;}
.large-bullets li::before {content: "\2b24";position: absolute;color: #3174EE;font-weight: bold;font-size: 9px;margin-top: 12px;margin-left: -23px;}
.large-bullets li.state-list-item::before {margin-top: 0px !important;margin-left: -24px;}
.small-bullets li::before {content: "\2b24";position: absolute;margin-top: 5px;color: #3174EE;font-weight: bold;font-size: 6px;margin-top: 9px;margin-left: -17px;}

.summary{background:#c2eff5;width:100%;color:#333;padding:40px 20px;margin-bottom:20px;border-radius:4px}
.summary ol{margin-top:15px;margin-bottom:0;line-height:2}
.summary ul{margin-top:15px;margin-bottom:0}
.summary h2{font-size:20px;color:#333;font-family:'Open Sans',sans-serif;text-transform:none;letter-spacing:0;font-weight:600;padding:0;margin:0}
.summary a{color:#3174ee}

.example-answer{margin:20px 0; border-radius:6px;text-align:left;color:#333;background:#efefef;border-left:5px solid #BAC4DA; padding:20px;}
/*.example-answer{margin:20px 0; border-radius:6px;text-align:left;color:#333;border: 1px solid #BAC4DA;border-left:5px solid #BAC4DA; padding:20px;}*/
.example-answer b{font-size:20px;font-weight:600; }

.example-answer p{text-align:left}
.example-answer h2{margin-top:0px;}
.example-answer blockquote{border: 0px; padding:0px; margin:0px;}
.example-answer img{padding: 0px 0px 20px 20px; height: 100px; border-radius: 0px;}

.example-answer.good-answer{color:#333;background:#d4ecd5;border-color:#4caf50}
.example-answer.bad-answer,.example-answer.good-answer{text-align:left}
.example-answer.bad-answer p,.example-answer.good-answer p{text-align:left;color:#333}
.example-answer.good-answer blockquote{border-left:4px solid #4caf50;padding-bottom:16px}
.example-answer.bad-answer blockquote{border-left:4px solid #d32f2f;padding-bottom:16px}
.example-answer.bad-answer a,.example-answer.good-answer a{color:#333}
.example-answer.bad-answer{background:#f8dede;color:#333}

.example-answer.color1{background:#3f51b5}
.example-answer.color2{background:#0097a7}
.example-answer.color3{background:#fdeeae;color:#333!important}
.example-answer.color3 a,.example-answer.color3 p{color:#333}
.example-answer.color3 blockquote{border-left:4px solid #333}

li > div.example-answer{margin-top:-20px;}

.inline-toc{background: #F5F7FA;border-radius: 6px; padding:20px;margin-bottom:30px;}
.inline-toc-header{display: table; margin-bottom:10px;}
.in-this{color: #333333; font-weight: 600;font-size: 20px; display:table-cell;}
.skip-text{color: #7D878F;font-size: 13px; display:table-cell;}
.inline-toc ul{padding-left: 20px;margin-bottom: 0px;margin-top:0px;font-size:14px;}
#toc-show-more{color:#3174ee!important; cursor:pointer; display:none;}

.rankImg{
    display:none;
}

.size-full{
    width: 100%!important;
    height: auto!important;
}

.resume-expert-subinfo{line-height:25px!important;}
.resume-expert-image{border-radius:4px; max-width: 100px; margin-right: 20px;}
.list-image{width: 100%;}