.resumeCalloutBlock {
    background-color: #F6F6F6;
    border-radius: 4px;
    padding: 20px;
}

.resumeCalloutBlock .resumeCalloutInfo {
    font-size: 16px !important;
    line-height: 24px;
    text-align: center;
    margin: 0;
}

.resumeCalloutBlock .resumeCalloutInfo .resumeCalloutTitle {
    font-weight: 600;
    margin: 0;
}

.resumeCalloutBlock .resumeCalloutInfo .resumeCalloutDescription {
    margin: 0;
    font-size: 16px !important;
}
.rb-cta-btn-wrap .rb-cta-btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    background: #ff6000;
    border-radius: 4px;
    width: 233px;
    height: 48px;
    border: none;
    font-family: Open Sans,serif;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
.rb-cta-btn-wrap a:hover {
    text-decoration: none!important;
    color: #fff !important;
}
.rb-cta-btn a:hover, .rb-cta-btn-wrap a:hover{
    text-decoration: none!important;
    color: #fff !important;
}
.container.postContainer .rb-cta-btn-wrap .rb-cta-btn a, .container.postContainer .rb-cta-btn-wrap a{
    color: #fff !important;
}
.postContainer .rb-cta-wrapper{
    margin-bottom: 48px;
}
.mb-36{
    margin-bottom: 36px;
}

@media screen and (min-width: 768px) {
    .resumeCalloutBlock {
        display: flex;
        justify-content: space-between;
    }

    .resumeCalloutBlock .resumeCalloutInfo {
        text-align: start;
        margin: 0 1rem 0 0;
    }

    .resumeCalloutBtnContainer {
        display: flex;
        align-items: center;
    }
}
.genericCallout .genericHeaderText {
    margin-bottom : 0px;
}

.genericCallout .genericSubHeaderText {
    margin: 8px 0 16px 0;
}

.genericCallout .genericSubHeaderText a {
    font-weight: 600;
}

.genericCallout button {
    background : rgb(238, 106, 45);
    border-radius : 4px;
    padding : 12px 24px;
    border : none;
    text-align: center;
    text-transform: capitalize;
}
.genericCallout button a, .genericCallout button a:hover{
    color:white;
}
.rb-cta-wrapper {
    background: #fff;
    margin: 0 auto;
    width: 95%;
    border: 1px solid #d8dee2;
    border-radius: 0 0 5px 5px;
    padding: 24px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    font-family: Open Sans,serif;
    font-style: normal;
    width: 730px;
    margin-top: 48px;
    max-width:700px;
}
.rb-cta-text .rb-cta-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}
.rb-cta-text .rb-cta-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-top: 4px;
    opacity: .8;
}
.genericCallout button:focus {
    outline : none;
}
.open-sans-large-black-bold {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    color: #333;
    font-size: 20px !important;
    line-height: 27px;
}

@media screen and (max-width: 767px) {
    .cmpResumeCarouselSection_carousel{
        width:306px;
        flex-direction: column;
    }
    .rb-cta-text {
        text-align: center;
    }
    .cmpResumeCarouselSection_itemContainer{
        min-width: 306px;
        max-height: 396px
    }

    .cmpResumeCarouselSection_item{
        -webkit-transform: scale(.3);
        transform: scale(.3)
    }
    .rb-cta-btn-wrap .rb-cta-btn {
        margin: auto;
        margin-top: 20px;
    }
}
.resumeCreateBlockContainer {
    border: 1px solid #D8DEE2;
    padding: 20px;
    flex-direction: column;
    position: relative;
    width: 350px;
    margin-top: 48px;
}

.resumeCreateBlockClosePopUpContainer {
    position: absolute;
    top: 15px;
    right: 15px;
}


.resumeCreateBlockClosePopUpContainer > button{
    background-image: url('/ui-router/images/resume-builder/close-modal.svg');
    background-size: 100% 100%;
    background-color: #FFF;
    border: 0;
    height: 16px;
    width: 16px;
}

.resumeCreateBlockImageContainer {
    margin: 0 auto;
    align-items: flex-end;
    display: flex;
    margin-left: 10px;
}

.resumeCreateBlockImageContainer .resumeImage {
    width: 107px;
    height: 106px;
}

.resumeCreateBlockImageContainer .resumeImageForSideBar {
    width: 75px;
    height: 75.27px;
    max-width: initial;
}

.resumeCreateBlockInfoContainer  {
    font-family: 'Open Sans';
    text-align: center;
}

.resumeCreateBlockInfoContainer .resumeCreateBlockTitle{
    color: #333333;
    font-weight: 600;
    font-size: 20px !important;
    line-height: 27px !important;
}

.resumeCreateBlockInfoContainer .resumeCreateBlockDescription{
    color: #333333;
    font-size: 14px !important;
    line-height: 22px !important;
}

.resumeCreateBlockInfoContainer .resumeCreateBlockButton{
    background: #3174EE;
    font-size: 16px;
    line-height: 24px;
}

.resumeCreateBlockContainer .content {
    display: flex;
    flex: row;
}
.resume-carousel-callout-description{
    font-size: 16px !important;
}
#jobsWidget.sticky{
    top:20px;
    width:340px;
}
@media screen and (min-width: 768px) {
    .resumeCreateBlockContainer {
        flex-direction: row;
    }

    .resumeCreateBlockInfoContainer {
        text-align: start;
    }

    .resumeCreateBlockImageContainer {
        margin-bottom: 0;
    }
}
@media screen and (max-width: 768px) {
    .resumeCreateBlockInfoContainer .resumeCreateBlockButton{
        font-size: 14px;
    }

    .resumeCreateBlockImageContainer .resumeImage {
        width: 75px;
        height: 75.27px;
    }
    .container.genericCallout{
        position: relative;
        float: left;
        margin-top: 0 !important;
    }
    #jobsWidget.sticky{
        position: relative !important;
        width: initial;
    }
}
.resumeSidebarContainer {
    border: 1px solid #D8DEE2;
    padding: 20px;
    height: 100%;
    max-height: 310px;
    width: 350px;
    max-width: 100%;
}


.resumeSidebarClosePopUpContainer > button{
    background-image: url('/ui-router/images/resume-builder/close-modal.svg');
    background-size: 100% 100%;
    background-color: #FFF;
    border: 0;
    height: 16px;
    width: 16px;
}

.resumeSidebarInfoContainer  {
    font-family: 'Open Sans';
}

.resumeSidebarInfoContainer .resumeSidebarTitle{
    color: #333333;
    font-weight: 600;
    font-size: 20px !important;
    line-height: 27px !important;
    margin: 17px 0 12px 0;
}

.resumeSidebarInfoContainer .resumeSidebarDescription{
    color: #333333;
    font-size: 14px !important;
    line-height: 22px !important;
    margin: 0 0 20px 0;
}

.resumeSidebarInfoContainer .resumeSidebarButton{
    font-size: 16px!important;
    line-height: 24px!important;
    width: 100%;
}
